<header>
          <span *ngIf="totalCount && totalCount > 0">
            Showing
            <strong>
              {{
                (this.pageIndex - 1) * this.pageSize + 1
              }}
              -
              {{
                this.pageSize * this.pageIndex >
                this.totalCount
                  ? this.totalCount
                  : this.pageSize * this.pageIndex
              }}
            </strong>
            of <strong>{{ this.totalCount }}</strong> results.
          </span>

          <span *ngIf="this.totalCount === 0"
            >There are <strong>0</strong> results for this filter.</span
          >
        </header>